encryption: "age"

age:
  identity: "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient: "age1y2kv2cmtkh9q4qk3jkcvmzs02zyk68yn7nvph5z4lk4u3dktqgkqcqna0u"

edit:
  command: "{{ if eq .chezmoi.os "darwin" }}code{{ else }}vim{{ end }}"
  args:
    {{- if eq .chezmoi.os "darwin" }}
    - "--wait"
    {{- end }}

data:
  machine_type: "{{ promptString "machine_type (server/personal/work)" "server" }}"