{{- $secrets := includeTemplate "secrets.yaml" . | fromYaml -}}
{
  "cleanupPeriodDays": 365,
  "enabledPlugins": {
{{- if eq .machine_type "work" }}
    "AmazonBuilderCoreAIAgents-core@aim": true,
    "AmazonBuilderCoreAIAgents-pipeline-assistant@aim": true,
{{- end }}
    "document-skills@anthropic-agent-skills": true,
    "example-skills@anthropic-agent-skills": true,
    "obsidian@obsidian-skills": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "env": {
{{- if eq .machine_type "work" }}
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "us.anthropic.claude-opus-4-7[1m]",
    "AWS_PROFILE": "claude-code-DO-NOT-DELETE",
    "AWS_REGION": "us-west-2",
{{- end }}
    "ENABLE_LSP_TOOL": "1"
  },
  "extraKnownMarketplaces": {
{{- if eq .machine_type "work" }}
    "aim": {
      "source": {
        "path": "/Users/baiyuzha/.aim/cc-plugins",
        "source": "directory"
      }
    },
{{- end }}
    "obsidian-skills": {
      "source": {
        "repo": "kepano/obsidian-skills",
        "source": "github"
      }
    }
  },
  "language": "english",
{{- if eq .machine_type "work" }}
  "model": "us.anthropic.claude-opus-4-7[1m]"
{{- else if eq .machine_type "personal" }}
  "model": "opusplan"
{{- end }}
}