{{- if eq .machine_type "work" }}
# For Amazon machines

# Alias
abbr -a bb 'brazil-build'
abbr -a k 'kiro-cli chat --trust-all-tools --model claude-opus-4.5'

fish_add_path $HOME/.toolbox/bin
fish_add_path /usr/local/sbin
fish_add_path /usr/local/opt/ruby/bin

# node 22
fish_add_path /opt/homebrew/opt/node@22/bin

# Set home brew curl
fish_add_path /opt/homebrew/opt/curl/bin

# JAVA
set -x JAVA_HOME /Library/Java/JavaVirtualMachines/amazon-corretto-17.jdk/Contents/Home

# card
fish_add_path $HOME/.cardcli_profile

# AIM
fish_add_path $HOME/.aim/mcp-servers
{{- end }}
