{{- $secrets := includeTemplate "secrets.yaml" . | fromYaml -}}
{{- if eq .machine_type "personal" }}
# For personal machines

# Claude Code Oauth Token
set -x CLAUDE_CODE_OAUTH_TOKEN {{ $secrets.claude_code_oauth_token }}

# Claude Code
# With Claude subscription
abbr -a c "claude --enable-auto-mode --model opusplan"

# Codex
set -x AZURE_OPENAI_CODEX_API_KEY {{ $secrets.azure_openai_codex_api_key }}

{{- end }}
